html,
body,
* {
  font-size: 16px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-image: url("img/background.jpg");
}
.header {
  font-size: 60px;
  color: black;
  margin-top: 30px;
  text-align: center;
  justify-content: space-around;
}
.container {
  width: 90vw;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  height: 40rem;
  width: 30%;
  min-width: 325px;
  border: 20px solid white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
  background-color: rgb(168, 186, 219);
  background-size: cover;
}

.card-img {
  width: 75%;
  height: 450px;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.card-header {
  font-size: 40px;
  margin-top: 30px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 900) {
  .card {
    width: 45%;
  }
}

@media screen and (max-width: 400) {
  .card {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
}
