html,
body,
* {
  font-size: 16px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-image: url("img/background.webp");
}
.header{
  font-size: 60px;
}
.container{
  width: 90vw;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  height: auto;
  width: 30%;
  min-width: 500px;
  border: 10px solid white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
  background-color: rgb(168, 186, 219);
  background-size: cover;
}

.card-img{
  width: 75%;
  height: 80%;
  object-fit: cover;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-header{
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
  color: white;
}
