html,
body,
* {
  font-size: 16px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header{
  font-size: 60px;
}
.container{
  width: 90vw;
  margin: 2 rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  height: 40rem;
  width: 30%;
  border: 2px solid black;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
}

.card-img{
  width: 60%;
  object-fit: cover;
  border-radius: 3px;
}

.card-header{
  margin: 1.5rem auto;
}

.breed{
  margin: 1.5rem auto;
}